<% layout ('layouts/boilerplate')%>
<div class="tableContainer" style="overflow-x: scroll">
<table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Year</th>
                <th>BHP</th>
                <% if(currentUser && !currentUser.isCustomer) {%> 
                <th class="text-center" colspan="3">Buttons</th>
                <% } %> 
            </tr>
        </thead>
        <% for(let car of cars) {%>
            <tr>
                <% const {name,manufacturer,year,bhp,carModelID}=car; %>
                    <td>
                        <%=name %>
                    </td>
                    <td>
                        <%=manufacturer %>
                    </td>
                    <td>
                        <%=year %>
                    </td>
                    <td>
                        <%=bhp %>
                    </td>
                    <td>
                        <form action="/cars/<%=car.carModelID%>">
                            <button class="btn btn-primary">Details</button>
                        </form>
                    </td>
                    <% if(currentUser && !currentUser.isCustomer) {%> 
                    <td>
                        <form action="/cars/<%=car.carModelID%>/edit" method="get">
                            <button class="btn btn-success">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/cars/<%=car.carModelID%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger col-md">Delete</button>
                        </form>
                    </td>
                    <% } %> 

            </tr>
            <%} %>
    </table>
</div>
    <% if(currentUser && !currentUser.isCustomer) {%> 
    <form action="/cars/new" method="GET">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">ADD A NEW CAR</button>

        </div>
    </form>
    <% } %> 