<% layout ('layouts/boilerplate')%>
    <link rel="stylesheet" href="/css/showOneCar.css">
    <!-- <%//if(isLoggedIn) {%> -->
    <table class="table">
        <thead>
            <tr>
                <th>Car Model ID</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Counthy</th>
                <th>Year</th>
                <th>BHP</th>
                <th>Number of Seats</th>
                <th>Number of Cars Left</th>
                <th>Engine Type</th>
                <th>Emissions</th>
                <th>Torque</th>
                <th class="text-center" colspan="2">Buttons</th>
            </tr>
        </thead>
        <% for(let car of cars) {%>
            <tr>
                <% const
                    {carModelID,name,manufacturer,country,year,bhp,nbOfSeats,nbCarsLeft,engineType,emissions,torque}=car;
                    %>
                    <% const
                        info=[name,manufacturer,country,year,bhp,nbOfSeats,nbCarsLeft,engineType,emissions,torque];
                        %>
                        <td class="carModelID"><%= carModelID %> </td>
                        <% for(let i of info) {%>

                            <td>
                                <%=i %>
                            </td>
                            <% } %>
                            
                                <% if(!currentUser.isCustomer){ %> 
                                    <td>
                                        <form action="/cars/<%=car.carModelID%>/addAvailableCar" method="get">
                                            <button class="btn btn-primary">Add Available Car</button>
                                        </form>
                                    </td>
                            <td>
                                    <form action="/cars/<%=car.carModelID%>/edit" method="get">
                                        <button class="btn btn-success">Edit</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/cars/<%=car.carModelID%>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                                <% } %> 

            </tr>
            <%} %>
    </table>


    <h2>Available Cars:</h2>
    <% if(nbCarsCanStillRent||true) {%> 
    <h3>You can still rent <%= nbCarsCanStillRent %> cars</h3>
    
  
    <div class="carContainer"></div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/showOneCar.js"></script>
    <% }else {%>
        <h3>Sorry you cannot rent any more vehicles</h3>
        <% } %>  
