<% layout ('layouts/boilerplate')%>
    <link rel="stylesheet" href="/css/showOneCar.css">
    <!-- <%//if(isLoggedIn) {%> -->
        <div class="tableContainer">
    <table class="table">
        <thead>
            <tr>
                <th>Car Model ID</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Counthy</th>
                <th>Year</th>
                <th>BHP</th>
                <th>Number of Seats</th>
                <th>Number of Cars Left</th>
                <th>Engine Type</th>
                <th>Emissions</th>
                <th>Torque</th>
                <th class="text-center" colspan="2">Buttons</th>
            </tr>
        </thead>
        <% for(let car of cars) {%>
            <tr>
                <% const
                    {carModelID,name,manufacturer,country,year,bhp,nbOfSeats,nbCarsLeft,engineType,emissions,torque}=car;
                    %>
                    <% const
                        info=[name,manufacturer,country,year,bhp,nbOfSeats,nbCarsLeft,engineType,emissions,torque];
                        %>
                        <td class="carModelID"><%= carModelID %> </td>
                        <% for(let i of info) {%>

                            <td>
                                <%=i %>
                            </td>
                            <% } %>
                            
                                <% if(!currentUser.isCustomer){ %> 
                                    <td>
                                        <form action="/cars/<%=car.carModelID%>/addAvailableCar" method="get">
                                            <button class="btn btn-primary">Add Available Car</button>
                                        </form>
                                    </td>
                            <td>
                                    <form action="/cars/<%=car.carModelID%>/edit" method="get">
                                        <button class="btn btn-success">Edit</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/cars/<%=car.carModelID%>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                                <% } %> 

            </tr>
            <%} %>
    </table>
</div>


    <h2>Available Cars:</h2>
    <% if(true) {%> 
    <button class="showCars btn btn-primary">Show Cars</button>
    <div class="hide" style="display: none;">
        <div class="carContainer">
            <div class="imageContainer">
                <img class = "carImage"
                    alt="">
            </div>
            <div class="info">
                <div class="detail">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-palette" viewBox="0 0 16 16" style="color:blue">
                            <path
                                d="M8 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm4 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 7a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                            <path
                                d="M16 8c0 3.15-1.866 2.585-3.567 2.07C11.42 9.763 10.465 9.473 10 10c-.603.683-.475 1.819-.351 2.92C9.826 14.495 9.996 16 8 16a8 8 0 1 1 8-8zm-8 7c.611 0 .654-.171.655-.176.078-.146.124-.464.07-1.119-.014-.168-.037-.37-.061-.591-.052-.464-.112-1.005-.118-1.462-.01-.707.083-1.61.704-2.314.369-.417.845-.578 1.272-.618.404-.038.812.026 1.16.104.343.077.702.186 1.025.284l.028.008c.346.105.658.199.953.266.653.148.904.083.991.024C14.717 9.38 15 9.161 15 8a7 7 0 1 0-7 7z" />
                        </svg> Color:
                    </div>
                        <div class="color"> </div>
                </div>
                <div class="detail">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16" style="color:brown">
                            <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                            <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                          </svg> Needs Repair
                    </div>
                    <div class="needsRepair"></div>
                 </div>
                <div class="detail">
                   <div> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color:green">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                      </svg> Condition:</div>
                      <div class="condition">
                      </div>
                    </div>
            </div>
    
        </div>
        <div class="buttonContainer">
            <button class="prevButton btn btn-danger indexButton">
                Prev
            </button>
            <button class="nextButton btn btn-primary indexButton">Next</button>
        </div></div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/showOneCar.js"></script>
    <% }else {%>
        <h3>Sorry you cannot rent any more vehicles</h3>
        <% } %>  
